@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #de2c4d;
  --color-secondary: #fb923c;
  --text-sm-custom: 4rem;

  --font-poppins: "Poppins", sans-serif;
  --font-averia-serif-libre: "Averia Serif Libre", serif;
}
