@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #de2c4d;
  --color-secondary: #fb923c;

  --font-poppins: "Poppins", sans-serif;
  --font-averia-serif-libre: "Averia Serif Libre", serif;

  /* --container-smm: 40rem; */

  --breakpoint-*: initial;
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 24rem;
  --breakpoint-md: 40rem;
  --breakpoint-lg: 48rem;
  --breakpoint-xl: 64rem;
  --breakpoint-2xl: 80rem;
}